<!DOCTYPE html>
<html lang="en">

<head>

    <title>NewsScraper</title>

    <meta charset="utf-8">
    
    <!-- Tab Image -->
    <link rel="shortcut icon" href="/img/Newspaper.png" type="image/png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- Boootswatch theme Darkly  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/darkly/bootstrap.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ArsTechnica Scraper">
    <meta name="author" content="Robin Bertuccelli">

    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
          
    <!-- custom CSS & JS -->
    <link rel="stylesheet" href="/stylesheet/custom.css">
    <script src="/javascript/custom.js"></script>

</head>

<body>
    {{{body}}}
</body>

</html>